.gradle/
.git/
.idea/
*.iml
.DS_Store
*/build/classes/
*/build/tmp/
*/build/test-results/
*/build/reports/
*/build/resources/
*/build/distributions/
*/build/generated/
*/build/dependency-cache/
*/build/jacoco/
*/build/spring-boot-loader/
*/build/META-INF/
infra/data/
infra/grafana/data/
.env
